.App {
  text-align: center;
}

.background{
  height:715px;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: auto;
}

.btn{
  color:black !important;
}

.App-header {
  background-color: #282c34;
  min-height: 10%;
  display: cover;
  align-items: center;
  justify-content: auto;
  font-size: calc(10px + 2vmin);
  color: rgb(60, 219, 60);
}

.navbar-brand{
  font-weight: 750;
  color: rgb(60, 219, 60)
}

.footer{
  background-color: blueviolet;
  text-align: right;
  color: aliceblue;
}